{% extends "base.html" %}
<h2>Search Results for "{{ query }}"</h2>

{% if vehicle_results %}
    <h3>Vehicles</h3>
    <ul>
        {% for vehicle in vehicle_results %}
            <li>{{ vehicle.plate_number }} - {{ vehicle.owner_name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if user_results %}
    <h3>Users</h3>
    <ul>
        {% for user in user_results %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not vehicle_results and not user_results %}
    <p>No results found.</p>
{% endif %}
